.container{
    display: flex;
    flex-direction: column;
    font-size: small;
    width: 200px;
    align-items: center;
    margin-top: 10px;
    border: outset;
    
    img{
        width: 100px;
    }
}