.container {
    display: flex;
    border: outset;
    flex-direction: column;
    width: 20%;
    align-items: center;
    max-width: 20%;
    font-size: small;
    border-radius: 25px;
    margin-top: 10px;


    .buy {
        display: flex;
        width: 40px;
        align-items: center;
    }

    .imgProd {
        display: flex;
        width: 50%;
    }

    button{
        margin-bottom: 10px;
    }
}

.container:hover{
    box-shadow: 0 4px 8px 0 black;
    background-color: #85C1E9 ;
    
}