.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    .prod{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-top: 10px;
        margin-bottom: 10px;
    }
   
}