.container{
    display: flex;
    flex-direction: column;
    align-items: center;


    button{
        // background-color: #4CAF50; /* Green */
        border: none;
        color: white;
        padding: 16px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        transition-duration: 0.4s;
        cursor: pointer;
        border-radius: 50%;
    }

    button:hover {
        background-color: #f44336;
        color: white;
    }

    .prod{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-top: 10px;
        margin-bottom: 10px;
    }
   
}