.container{
    img{
        width: 100%;
    }

    h1{
        color: white;
        display: flex;
        justify-content: flex-start;
        margin-top: -10%;
        position: absolute;
        margin-left: 10%;
    }
}